/* dark green is 004e00 */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    background-color: #004e00;
    color: white;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px 0;
    margin-left: 150px;
    margin-right: 150px;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

#title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 60px 0 60px 0;
}

.title-text *{
    margin-top: 16px;
    width: 600px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    font-style: italic;
}

.titleimg img{
    width: 600px;
    height: auto;
}

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgs img {
    width: 400px;
    height: auto;
    border: solid black;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004e00;
    padding: 20px;
    color: white;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
    margin-right: 12px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: orange;
}

button {
    max-width: 100px;
    padding: 6px;
    background-color: #022e02;
    color: white;
    border-radius: 8px;
}